<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCategory</servlet-name>
        <servlet-class>ShowCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowList</servlet-name>
        <servlet-class>ShowList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetails</servlet-name>
        <servlet-class>ShowDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSession</servlet-name>
        <servlet-class>EndSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManager</servlet-name>
        <servlet-class>CartManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCart</servlet-name>
        <servlet-class>DisplayCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>RemoveFromCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCategory</servlet-name>
        <url-pattern>/ShowCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowList</servlet-name>
        <url-pattern>/ShowList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetails</servlet-name>
        <url-pattern>/ShowDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSession</servlet-name>
        <url-pattern>/EndSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManager</servlet-name>
        <url-pattern>/CartManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCart</servlet-name>
        <url-pattern>/DisplayCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
